@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

* {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.error {
    color: red
}

.Todo {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  